<div id="map-wrapper">
  <section id="search-inputs">
    <input type="text" name="address-input" id="address-input" placeholder="5678 Sample St. SE"
        #addressInput (keyup.enter)="focusOnAddress(addressInput.value)">
    <button id="btn-search" (click)="focusOnAddress(addressInput.value)">Go</button>
    <button (click)="logCenter()">Log Center</button>
  </section>
  <google-map height={{mapHeight}} width={{mapWidth}} [center]="LatLng" [zoom]="zoom" [options]="options" #googleMap></google-map>
  <!--<map-circle *ngFor="let circle of circles" [center]="this.LatLng" [radius]="circle.radius" [options]="circle.options"></map-circle> -->
</div>
