<div id="map-wrapper">
  <section id="search-inputs">
    <input type="text" name="address-input" id="address-input" placeholder="5678 Sample St. SE" #addressInput
      (keyup.enter)="focusOnAddress(addressInput.value)">
    <button id="btn-search" (click)="focusOnAddress(addressInput.value)">Go</button>
    <!-- <button (click)="logCenter()">Log Center</button> -->
  </section>
  <button id="toggle-markers" (click)="toggleMarkers()">Toggle Markers</button>
  <google-map height={{mapHeight}} width={{mapWidth}} [center]="LatLng" [zoom]="initZoom" [options]="options" #googleMap
    (zoomChanged)="updateZoom()">
    <map-marker #marker *ngFor="let markerPosition of visibleMarkers" [position]="markerPosition"
      [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
    <map-info-window><section id="info-window-content" #infoWindowContent></section></map-info-window>
    <!-- <map-polygon *ngFor="let circle of circles" [center]="LatLng" [radius]="circle.radius"
      [options]="circle.options"></map-polygon> -->
  </google-map>
</div>
