#div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-inputs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vh;
}

#address-input {
  /* Change width w/ media query for desktop */
  width: 80%;
}

#gmap-div {
  height: 75vh;
  width: 90vw;
}

/* General button rules */
button {
  border: none;
  border-radius: 5px;
}

/* Search button */

#btn-search {
  background-color: #20B874;
  color: #fff;
  padding: 0.5rem 1rem;
}

#btn-search:hover,
#btn-search:active {
  background-color: #178553;
}

/* Search bar */
#address-input {
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 2%;
  max-width: 50vw
}

/* Search error */
#search-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh;
}

@media (min-width: 1024px) {
  #search-inputs {
    justify-content: center;
  }

  #btn-search {
    width: 5vw;
    margin-left: 1vw;
  }
}
