<div id="loading-modal" *ngIf="!(cityDataService.dataLoaded)" (unload)="loadHeatmap()">
  <p>Loading city data...</p>
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<div id="map-wrapper">
  <section id="search-inputs">
    <input type="text" name="address-input" id="address-input" placeholder="5678 Sample St. SE" #addressInput
      (keyup.enter)="focusOnAddress(addressInput.value)">
    <button id="btn-search" (click)="focusOnAddress(addressInput.value)">Go</button>
  </section>
  <section id="search-error" #searchError></section>
  <google-map height={{mapHeight}} width={{mapWidth}} [center]="LatLng" [zoom]="initZoom" [options]="options"
    #googleMap>
    <map-marker #marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
      [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
    <map-info-window>
      <section id="info-window-content" #infoWindowContent></section>
    </map-info-window>
  </google-map>
</div>