<div class='main'>
    <div class= 'intro'>
        <h1>City Assistance!</h1>
        <hr>
        <p>We are working to end childhood lead poisoning in Grand Rapids. 
        That is why we offer property owners up to $20,000 in aid to remove lead hazards from their homes.</p>
    </div>

    <div class='homes'>
        <h2 class= 'center'>Eligible Homes</h2>
        <ul>
            <li>Located in the City of Grand Rapids</li>
            <li>Built before 1978</li>
            <li>Owner-occupied homes or 1-4 unit rental properties</li>
            <li>Vacant rental units may also qualify</li>
        </ul>
        <p>There are different eligibilty requirements for homeowners and landlords. You can see these guidelines below.</p>
    </div>

    <div class='owner'>
        <h3>Homeowner Eligibilty</h3>
        <ul>
            <li>Own and live in the home</li>
            <li>Household income is in Annual Income Limits 
                <a href= 'https://www.grandrapidsmi.gov/Government/Programs-and-Initiatives/Get-the-Lead-Out/Community-Development-Program-Income-Limits'>
                (Click to learn more)</a>
            </li>
            <li>A child under age 6 or a pregnant woman lives in the home, or a child under age 6 living in the home receives childcare</li>
        </ul>
        <p>Think you qualify? We have application instructions below.</p>
        <a href='https://www.grandrapidsmi.gov/Services/Apply-to-Get-the-Lead-Out'>Click here</a>
    </div>

    <div class='landlord'>
        <h3>Landlord Eligibilty</h3>
        <ul>
            <li>Tenant household income is in Annual Income Limits
                <a href= 'https://www.grandrapidsmi.gov/Government/Programs-and-Initiatives/Get-the-Lead-Out/Community-Development-Program-Income-Limits'>
                (Click to learn more)</a>
            </li>
            <li>Tenant households have a child under the age of 6 or a pregnant mother</li>
            <li>All past-due debts to the City (taxes, fines, fees) are paid</li>
            <li>Pay a co-pay or 10% of the cost to remove the lead (minimum co-pay is $300)</li>
            <li>Properties must be marketed to families with young children, at affordable rents for at least 3 years after the 
                work is done
            </li>
            <li>Landlords or their staff must become EPA-Certified Renovators. If you need this training, call the Rental Property 
                Owners Association at 161-454-3385.
            </li>
        </ul>
        <p>Think you qualify? We have application instructions below.</p>
        <a href='https://www.grandrapidsmi.gov/Services/Apply-to-Get-the-Lead-Out'>Click here</a>
    </div>

    <div class= 'partners'>
        <h2>Community Partners</h2>

        <h3>Healthy Homes Coalition of West Michigan</h3>
        <p>Phone: 616-241-3300 ext. 306</p>
        <a href='http://gettheleadoutgr.com/'>gettheleadoutgr.com/</a>

        <h3>Kent County Health Department</h3>
        <p>Phone: 616-632-7058</p>
        <a href='https://www.accesskent.com/Health/'>accesskent.com/Health/</a>

        <h3>Michigan Department of Health and Human Services</h3>
        <p>Phone: 517-335-8885</p>
        <a href='https://www.michigan.gov/lead'>michigan.gov/lead</a>

        <h3>The National Lead Information Center</h3>
        <p>Phone: 800-424-5323</p>
        <a href='https://www.epa.gov/lead'>epa.gov/lead</a>
    </div>
</div>