<div id="fact-main">

    <h1>Lead Facts</h1>

    <hr>

    <p>The Centers for Disese Control (CDC) states that lead poisoning is caused by swallowing or breathing lead. Children under 6 years old
        are most at risk. If you are pregnant, lead can harm your baby.</p>

    <p><span class="fact">Fact:</span> Lead can cause learning and behavior problems</p>

    <p>Lead poisoning hurts the brain and nervous system. Some of the effects of lead poisoning may never go away.</p>

    <p>Lead in a childs body can:</p>
    <ul>
        <li>Slow down growth and development</li>
        <li>Damage hearing and speech</li>
        <li>Make it hard to pay attention</li>
    </ul>

    <p><span class="fact">Fact:</span> Most children get lead poisoning from paint in homes built before 1978.</p>

    <p>When old paint cracks and peels, it makes dangerous dust. The dust is so small you cannot see it. Most children
        get lead poisoning when they breathe or swallow the dust on their hands and toys. </p>

    <p><span class="fact">Fact:</span> A lead test is the only way to know if your child has lead poisoning.</p>

    <p>Most children who have lead poisoning do not look or act sick. Ask your doctor to test your child for lead. </p>

</div>