:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100vw;
    background-image: url("../assets/gr-skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-height: 10vh;
}

#city-name {
    color: #F7635C;
}

.sidenav-container {
    flex-grow: 1;
}

#main-sidenav {
    background-color: #1C1D23;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.link-wrapper a,
.link-wrapper a:visited {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0.5rem 0;
}

.link-wrapper a:hover {
    text-decoration: underline #4190D1;
}

@media (min-width: 1024px) {
    #header {
        background-position-y: 65%;
    }
}
