:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100vw;
    background-image: url("../assets/gr-skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-height: 10vh;
}

#city-name {
    color: #F7635C;
}

.sidenav-container {
    flex-grow: 1;
}

#main-sidenav {
    background-color: #f1f1f1;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
}
